.git
.DS_Store
.env

backend/.env
backend/.venv
backend/.venv-*
backend/.uv-cache
backend/.uv-cache-*
backend/__pycache__
backend/**/*.pyc
backend/data

frontend/.env
frontend/.next
frontend/node_modules
frontend/out

**/__pycache__
**/*.pyc
