# SerpAPI key used to search Google results for LinkedIn recruiter profiles (https://serpapi.com/)
SERPAPI_API_KEY=your_serpapi_api_key_here

# Gmail account used to send outreach emails.
GMAIL_ADDRESS=your_gmail_address_here
GMAIL_APP_PASSWORD=your_gmail_app_password_here
