@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fafafa;
  --background-start: #09090b;
  --background-end: #18181b;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      180deg,
      var(--background-start) 0%,
      var(--background-end) 100%
    )
    fixed;
  min-height: 100vh;
}
